@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'pixel-retroui/dist/index.css';

body{
    background-color: #ddceb4;
}



.social-link {
    color: blue;
    text-decoration: underline;
}
